.bg-dark {
  background-color: rgb(56,56,56);
}


.text-white {
  color: white;
}

.text-custom {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 3px;
}

.custom-image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px); /* 20px is the padding */
}

.custom-buttons button,
.custom-buttons div
{
  border-color: white;
  color: white;
}

.shopping-cart {
  position: fixed;
  right: 10px;
  top: 0;
}